*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.home-background{
    background-color: rgb(190, 190, 190);
}

.red-background{
    background-color: red;
}

.orange-background{
    background-color: orange;
}

.Purple-background{
    background-color: purple;
}

.Green-background{
    background-color: green;
}
