*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#menu-image{
    width: 3rem;
    margin: 1rem;
}

#menu-selection{
    list-style: none;
    padding: 0;
    margin: 1rem;
}

.displayOff{
    display: none;
}

#menu-selection li{
    padding: 1rem;
}

#menu-selection a{
    text-decoration: none;
    color: black;
}

.home-background{
    background-color: rgb(190, 190, 190);
}

.red-background{
    background-color: red;
}

.orange-background{
    background-color: orange;
}

.Purple-background{
    background-color: purple;
}

.Green-background{
    background-color: green;
}




/* body {
    background-color: blue;
} */