*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#menuImage{
    width: 3rem;
    margin: 1rem;
}

#menuSelection{
    list-style: none;
    padding: 0;
    margin: 1rem;
}

#menuSelection li{
    padding: 1rem;
}

.home-background{
    background-color: gray;
}

.red-background{
    background-color: red;
}

.orange-background{
    background-color: orange;
}

.Purple-background{
    background-color: purple;
}

.Green-background{
    background-color: green;
}




/* body {
    background-color: blue;
} */